{% extends 'base.html' %}
{% block title %}Новости{% endblock title %}
{% block container %}


<div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-10">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-7">
            <div class="row">
                {% if user.is_authenticated %}
                <div class="col-12 grid-margin">
                    <div class="card rounded">
                        <div class="card-child">
                            <form action="{% url 'posts:create_post' %}?next={{request.path}}" method="post">
                            {% csrf_token %}
                                <input type="text" class="profile post" name="text" placeholder="Что у Вас нового?" autocomplete="off"></label>
                                <br><input type="submit" style="margin: 0 180px;" class="centering btn btn-primary btn-icon-text btn-edit-profile" value="Опубликовать">
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% for post in posts %}
                {% include "post.html" %}
            {% endfor %}
            </div>
        </div>
        {% include "left_cards.html" %}
    </div>
</div>


{% endblock container %}
