{% extends 'base_profile.html' %}
<!--{% block title %}Моя страница{% endblock title %}-->
{% block timeline %}active{% endblock timeline %}">
{% block about %}{% endblock about %}
{% block friends %}{% endblock friends %}
{% block photos %}{% endblock photos %}
{% block videos %}{% endblock videos %}
{% block profile %}


<!-- ========= // Posts \\ ========= -->

<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-7">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card rounded">
                <div class="card-child">
                    <form action="{% url 'posts:create_post' %}?next={{request.path}}" method="post">
                    {% csrf_token %}
                        <input type="text" id="about" class="profile post" name="text" placeholder="Что у Вас нового?" autocomplete="off"></label>
                        <br><input type="submit" style="margin: 0 180px;" class="centering btn btn-primary btn-icon-text btn-edit-profile" value="Опубликовать">
                    </form>
                </div>
            </div>
        </div>
    {% for post in user.posts.all %}
        {% include "post.html" %}
    {% endfor %}
    </div>
</div>


{% endblock profile %}
